* {
  --margin: 0%;
  --padding: 1%;
}

.body-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% auto auto auto 5%;
  /* grid-gap: 1em; */

  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-column-start: 2;
  grid-column-end: 2; */

  /* margin: 10%; */
}

.image-container {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;

  margin: var(--margin);
  padding: var(--padding);

  display: grid;
  align-content: center;
  justify-content: center;
}

.image-container {
  /* height: 565px;
  width: 501px; */
}

.gameplay-container {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;

  margin: var(--margin);
  padding: var(--padding);

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-container {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;

  margin: var(--margin);
  padding: var(--padding);

  display: grid;
  align-content: center;
  justify-content: center;
}

.character {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 3rem;
  height: 4rem;
}
