/* #ground {
  visibility: hidden;
}

#scaffold {
  visibility: hidden;
}

#head {
  visibility: hidden;
}

#body {
  visibility: hidden;
}

#arms {
  visibility: hidden;
}

#legs {
  visibility: hidden;
} */

.body-container {
  background-color: burlywood;
}

.image-container {
  background-color: aqua;
}

.gameplay-container {
  background-color: brown;
}

.button-container {
  background-color: blanchedalmond;
}

.button {
  background-color: chartreuse;
  padding: 5%;
  border-radius: 12px;
  border: 2px;
  box-shadow: 10px 10px 5px 2px forestgreen;

  font-size: 2rem;
}

.character {
  background-color: whitesmoke;
  color: blueviolet;
  text-decoration: underline;
  font-size: 3.8rem;
}
