#ground {
  visibility: hidden;
}

#scaffold {
  visibility: hidden;
}

#head {
  visibility: hidden;
}

#body {
  visibility: hidden;
}

#arms {
  visibility: hidden;
}

#legs {
  visibility: hidden;
}
